.feed-page {
  padding: 20px;

  &__buttons {
    margin: auto;
    width: 100%;
    max-width: 500px;
    display: flex;

    & > .btn {
      margin: 10px;
    }
  }

  &__no-creators {
    display: flex;
    justify-content: center;
    padding-top: 50px;

    img {
      max-width: 100%;
    }
  }

  .post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    & > * {
      margin: 10px;
    }
  }
}
