
.input-field {
  position: relative;
  display: block;
}

.input-field__disabled,
.input-field__disabled input,
.input-field.input-field__disabled span {
  cursor: not-allowed;
}

.input-field input:placeholder-shown {
  background: #f4f4f4;
}

.input-field input:placeholder-shown + span {
  top: 12px;
  font-size: 18px;
}

.input-field input:focus + span {
  font-size: 10px;
  top: 0;
}

.input-field span {
  color: #4c4c4c;
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 10px;
  cursor: text;
  transition: all 0.3s;
}

.input-field input {
  background: #fff;
  display: block;
  width: 100%;
  padding: 12px 10px 8px;
  border-radius: 5px;
  border: 1px solid #dedede;
  outline: 0;
  transition: all 0.3s;
  font-size: 18px;
}

.input-field input:focus {
  background: #fff;
}

.input-field.invalid input {
  border-color: #ff424d;
}

.input-field.valid input {
  border-color: #3bba2e;
}

.input-validation {
  margin: 10px 2px 15px;
}

.input-validation__error {
  text-align: left;
  color: #707070;
  font-size: 14px;
  margin: 2px;
  margin-left: 20px;
  position: relative;
}

.input-validation__error::before {
  content: '!';
  position: absolute;
  left: -10px;
  color: #e42f2f;
  font-weight: 900;
  font-size: 16px;
  top: -2px;
}
