
.main-page-section {
  width: 100%;
  background-color: #484745;
  padding: 100px 0;
}

.main-page-section-container {
  display: flex;
  justify-content: space-around;
  width: 1240px;
  max-width: 100%;
  margin: auto;
  flex-wrap: wrap-reverse;
}

.main-page-section-container__image {
  max-width: 100%;
}

.main-page-section-container__slogan {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 73px;
  color: #fff;
}

.main-page-section-info {
  width: 790px;
  max-width: 100%;
}

.main-page-section-container__text {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #fff;
}

.main-page-section-container__button {
  width: 108px;
}
