
.post-cover {
  height: 512px;
  background-color: var(--color-grey);
  background-size: cover;
  background-position: center;
}

.post-page__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.post-page__container__left {
  width: 900px;
  margin-top: -200px;
  max-width: 100%;
}

.post {
  padding: 20px 50px;
  border-radius: 5px;
}

.post .creator-card {
  margin-top: -110px;
}

.other-posts {
  margin-top: 40px;
  top: 40px;
  position: sticky;
  width: 300px;
  min-width: 300px;
  padding: 20px;
}

.post,
.other-posts {
  box-shadow: 0 2px 10px 0 hsla(0, 0%, 0%, 0.2);
  background: #fff;
  margin-left: 20px;
  margin-right: 20px;
}

.post__text {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 300;
}

.comments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-comment {
  padding: 20px;
  width: 791px;
  background: #fff;
  margin: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25), 0 0 30px 20px #fff;
  position: sticky;
  top: 0;
  z-index: 2;
  max-width: 100%;
}

.add-comment__title {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 10px;
}

.add-comment__actions {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  align-items: center;
}

.add-comment__actions .btn {
  width: 100px;
}

.add-comment__actions__warn {
  margin-left: 10px;
}

.post__actions {
  display: flex;
  justify-content: space-between;
}

.post__actions .btn {
  width: auto;
}

.other-posts__title {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  margin-top: 10px;
}

.other-posts hr,
.post hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #acabab;
  margin: 1em 0;
  padding: 0;
}
