.creator-panel {
  max-width: 1100px;
  margin: auto;
  padding: 20px;

  &__add-post {
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;

    .btn {
      width: auto;
    }
  }

  &__topper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
  }

  &__statistics {
    width: 600px;
    height: 450px;
    padding: 20px;
    max-width: calc(100vw - 90px);
    overflow: auto;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;

    &_choice {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    &_select {
      width: 400px;
    }

    &_button {
      width: 150px;
    }
  }

  &__posts__last-cell {
    display: flex;
    justify-content: space-between;

    .counters {
      min-width: 100px;
      padding: 15px 0;
    }

    .btn {
      width: auto;
    }
  }
}

@media (max-width: 1000px) {
  .creator-panel__topper {
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .creator-panel__statistics {
    height: 250px;
    padding: 20px;
    width: calc(100vw - 5px);
    margin-top: 20px;
    flex-wrap: nowrap;
    white-space: nowrap;
  }

  .shadow {
    box-shadow: var(--shadow);
  }

  .creator-panel__add-post {
    justify-content: center;
    width: 100%;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    padding-bottom: 20px;
  }

  td {
    border: 1px solid #ccc;
    position: relative;
    padding-left: 50%;
    min-height: 40px;
  }

  td::before {
    position: absolute;
    top: auto;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:nth-of-type(1)::before {
    content: "Дата публикации";
  }

  td:nth-of-type(2)::before {
    content: "Название";
  }

  td:nth-of-type(3)::before {
    content: "Уровень";
  }

  .creator-panel__posts__last-cell {
    display: flex;
    justify-content: end;

    .counters {
      min-width: 100px;
      padding: 5px 0;
    }

    .btn {
      padding: 5px 15px;
    }
  }
}
