.creator-panel {
  max-width: 1100px;
  margin: auto;
  padding: 20px;

  &__add-post {
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;

    .btn {
      width: auto;
    }
  }

  &__topper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
  }

  &__statistics {
    width: 600px;
    height: 300px;
    padding: 20px;
    max-width: calc(100vw - 90px);
    display: inline-block;
    margin-top: 20px;
  }

  &__posts__last-cell {
    display: flex;
    justify-content: space-between;

    .counters {
      min-width: 80px;
      padding: 15px 0;
    }

    .btn {
      width: auto;
    }
  }
}

@media (max-width: 1000px) {
  .creator-panel__topper {
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .creator-panel__statistics {
    height: 300px;
    padding: 20px;
    width: calc(100vw - 5px);
    display: inline-block;
    margin-top: 20px;
  }

  .shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }

  .creator-panel__add-post {
    justify-content: center;
    width: 100%;
  }

  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { border: 1px solid #ccc; }

  td {
    border: none;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding-left: 50%;
    min-height: 40px;
  }

  td:before {
    position: absolute;
    top: auto;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:nth-of-type(1):before { content: "Дата публикации"; }
  td:nth-of-type(2):before { content: "Название"; }
  td:nth-of-type(3):before { content: "Уровень"; }

  .creator-panel__posts__last-cell {
    display: flex;
    justify-content: end;
  }
}
