.notification {
  border-radius: var(--border-radius);
  background: var(--color-background);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;

  .notification__close {
    float: right;
    padding: 5px 10px;
    font-size: 25px;
    cursor: pointer;
    margin: -20px;
  }

  .notification__message {
    padding: 20px;
  }
}
