.notification-pool {
  width: 400px;
  position: fixed;
  bottom: 0;
  right: 5vw;
  z-index: 1000;
  max-width: 90vw;
  padding-bottom: 20px;

  & > * {
    margin: 10px;
    transition: 0.5s;
    overflow: hidden;
    height: 125px;
    background: var(--color-background);
    box-shadow: var(--shadow);
    display: flex;
    border-radius: var(--border-radius);
  }

  & > .added {
    margin: 0 10px;
    height: 0;
    transform: scale(0);
  }
}
