.payment-page__topper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 5px;
  align-items: center;
}

.payment-page__title {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.payment-page__topper__about {
  font-size: 18px;
  font-weight: 300;
}

.payment-page__topper__about .btn {
  font-size: 20px;
  padding: 20px;
}

.payment-page__disclaimer {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  padding: 10px 0;
}

.payment-page__other-levels-title {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.payment-page__other-levels-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.payment-page__other-levels-container .level-card {
  margin: 20px;
}
