.video-player {
  position: relative;
  overflow: hidden;
  border-radius: 5px;

  &__spinner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#000a, transparent);
  }

  &__video-tag {
    width: 100%;
    height: 100%;
  }

  &__controls {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}
