body {
  position: relative;
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.footer {
  width: 100%;
  background-color: var(--color-primary);

  &__body {
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    color: #fff;
    max-width: 1400px;
    border-radius: 20px;

    a {
      color: #fff;
    }
  }
}
