.input-field {
  position: relative;
  display: block;

  &_disabled,
  &_disabled input,
  &.input-field_disabled span {
    cursor: not-allowed;
  }

  input:placeholder-shown {
    background: var(--color-background-dark);

    + span {
      top: 18px;
      font-size: 18px;
    }
  }

  input:focus + span {
    font-size: 14px;
    top: 6px;
  }

  span {
    color: var(--color-text-light);
    position: absolute;
    top: 6px;
    left: 10px;
    font-size: 14px;
    cursor: text;
    transition: all 0.3s;
  }

  input {
    background: var(--color-background);
    display: block;
    width: 100%;
    padding: 24px 10px 10px;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-border);
    outline: 0;
    transition: all 0.3s;
    font-size: 18px;
    color: var(--color-text);

    &:focus {
      background: var(--color-background);
    }
  }

  &.invalid input {
    border-color: var(--color-primary-dark);
  }
}

.input-validation {
  margin: 10px 2px 15px;
}
