.profile-block {
  padding: 20px;
  margin-bottom: 50px;

  &__no-creators {
    text-align: center;

    img {
      max-width: 100%;
      width: 800px;
    }
  }
}

.creators-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  & > * {
    margin: 20px;
    max-width: 325px;
  }
}
