.creator-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  transition: box-shadow 0.5s;

  &__header {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
  }

  &__description {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
  }

  &__avatar {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
    background-color: var(--color-primary);
    z-index: 1;

    &__image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      transition: transform 0.1s ease-in;
    }

    &:hover &__image {
      transform: scale(1.2);
    }
  }

  &.clickable:hover {
    cursor: pointer;
    box-shadow: var(--shadow-light);
  }

  &.clickable.creator-card--no-hover-shadow:hover {
    box-shadow: none;
  }
}
