.profile-edit {
  padding: 40px 20px 60px;
  max-width: 1200px;
  margin: auto;

  &__title {
    font-family: Montserrat, sans-serif;
    font-size: 32px;
    font-weight: 400;
  }

  &__subtitle {
    color: #4d4d4d;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
  }

  &--little-width {
    max-width: 500px;
  }
}

.edit-creator__images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.profile-edit__levels-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: -20px;

  & > * {
    margin: 20px;
  }
}
