.creator-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  transition: box-shadow 0.5s;

  &__header {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
  }

  &__description {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
  }

  .creator-card__avatar {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: var(--color-primary);
    background-size: 100%;
    background-position: center;
    z-index: 1;
    transition: background 0.1s ease-in;
  }

  &.clickable:hover {
    cursor: pointer;
    box-shadow: 0 0 5px #0002;
  }

  &:hover &__avatar {
    background-size: 120%;
  }

  &.clickable.creator-card--no-hover-shadow:hover {
    box-shadow: none;
  }
}
