.container {
  width: 1200px;
  max-width: 100%;
  margin: auto;
  margin-top: 50px;
}

.component-wrapper__variants {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.component-wrapper__variants > .btn,
.components-map > .btn {
  width: auto;
  margin: 0 10px 0 0;
}

.component-wrapper {
  margin-bottom: 60px;
}

.component-wrapper__component {
  padding: 20px;
  border: solid 2px #000;
}

.components-map {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
  overflow: auto;
  display: block;
  white-space: nowrap;
  width: 100%;
}

.components-map > .btn {
  display: inline;
}

.component-wrapper__table table {
  width: 100%;
}
