@import "public/styles/index.scss";

.container {
  width: 1200px;
  max-width: 100%;
  margin: auto;
  margin-top: 50px;
}

.component-wrapper__variants,
.components-map {
  > .btn {
    width: auto;
    margin: 0 10px 0 0;
  }
}

.component-wrapper {
  margin-bottom: 60px;

  &__variants {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
  }

  &__component {
    padding: 20px;
    border: solid 2px #000;
  }

  &__table table {
    width: 100%;
  }
}

.components-map {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
  overflow: auto;
  display: block;
  white-space: nowrap;
  width: 100%;

  > .btn {
    display: inline;
  }
}
