name: CI

on:
  push:
  pull_request:
    branches:
      - main
      - dev/volodya

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Install Node
        uses: actions/setup-node@v1
        with:
          node-version: 14

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache node_modules
        id: node-cache
        uses: actions/cache@v2
        with:
          path: node_modules
          key: node-modules-${{ hashFiles('package-lock.json') }}

      - name: Install node_modules
        if: steps.node-cache.outputs.cache-hit != 'true'
        run: npm install

      - name: Lint
        run: npm run linter

  build:
    needs: lint
    runs-on: ubuntu-latest

    steps:
      - name: Install Node
        uses: actions/setup-node@v1
        with:
          node-version: 14

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache node_modules
        id: node-cache
        uses: actions/cache@v2
        with:
          path: node_modules
          key: node-modules-${{ hashFiles('package-lock.json') }}

      - name: Install node_modules
        if: steps.node-cache.outputs.cache-hit != 'true'
        run: npm install

      - name: Build
        env:
          PRODUCTION: true
        run: npm run build

      - name: Upload build result
        uses: actions/upload-artifact@v1
        with:
          name: build
          path: ./public
  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/dev/template' || github.ref == 'refs/heads/main'
    steps:
      - name: Download build
        uses: actions/download-artifact@v1
        with:
          name: build
      - name: Transfer build files to server
        uses: appleboy/scp-action@v0.0.10
        with:
          host: 95.163.208.72
          username: ubuntu
          key: ${{ secrets.PRIVAT_KEY }}
          source: "build/*"
          target: "/home/ubuntu/tp/2021_2_Pyaterochka/static"
          strip_components: 1
